/* Colors variables */

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$white: #EAEAEA;
$dark: #353535;

$lighten: 5;
$darken: 25;

$colors: (
    primary: (
        base: $primary-color,
        light: lighten($primary-color, $lighten),
        dark: darken($primary-color, $darken),
    ),
    secondary: (
        base: $secondary-color,
        light: lighten($secondary-color, $lighten),
        dark: darken($secondary-color, $darken),
    ),
    tertiary: (
        base: $tertiary-color,
        light: lighten($tertiary-color, $lighten),
        dark: darken($tertiary-color, $darken),
    ),
    dark: (
        base: $dark,
        light: lighten($dark, $lighten),
        dark: darken($dark, $darken),
    ),
    light: (
        base: $white,
        light: lighten($white, $lighten),
        dark: darken($white, $darken),
    )
);


/* Typography */
$title-font: 'Shrikhand', cursive;
$regular-font: 'Roboto', sans-serif;