.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: clr(light, light);
    padding: $medium-padding;
}

.cta__title {
    font-size: 1.7rem;
    margin: 0;
}

.cta__concept {
    font-size: 1rem;
    font-weight: 400;
}

.cta__btn {
    margin: 1em;
}