/* FOOTER */

.footer {
    background-color: $dark;
    padding: $little-padding;
}

.footer__container {
    @include max-width;
}

.footer__logo {
    filter: invert(100%);
    width: 7em;
}

.footer__list {
    list-style: none;
    list-style-position: outside;
    padding: 0;
    
    @include for-desktop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        .footer__item:nth-child(1) {grid-column: 1; grid-row: 1;}
        .footer__item:nth-child(2) {grid-column: 1; grid-row: 2;}
        .footer__item:nth-child(3) {grid-column: 2; grid-row: 1;}
        .footer__item:nth-child(4) {grid-column: 2; grid-row: 2;}
    }
}

.footer__item {
    margin-bottom: 0.5rem;
}

.footer__icon {
    width: 15px;
    margin-right: 0.3em;
}

.footer__link {
    color: $light;
    text-decoration: none;

    &:hover {
        color: $primary-color;
        transition: 0.2s;
    }
}