// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
    display: flex;
    justify-content: center;
    padding: $little-padding;
    position: relative;
    @include box-shadow;
}