/* HEADER  */

.header {
    display: flex;
    justify-content: center;
    padding: $little-padding;
    position: relative;
    box-shadow: 0px 2px 5px lighten($dark, 60% );

    &__container {
        display: flex;
        align-items: center;
        width: 100%;
        @include max-width;
    }

    &__brand {
        margin: auto;
    }

    &__logo {
        height: 1.8rem;
    }

    &__return {
        position: absolute;
        color: $dark;
        top: 1.5rem;
        font-size: 1.4rem;
    }
}