.operating {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1.5em 1.5em 3.5em;
    @include max-width;

    @include for-desktop {
        padding: 2.5em 1.5em 3.5em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 4rem 2fr;
        align-content: start;
    }

    &__title {
        grid-row: 1;
    }
}