/* RESTAURANT */

.restaurant {
    background-color: clr(light, low-light);
    padding: 1.5em 1.5em 3.5em;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}