/* RESTAURANT */

.restaurant {
    background-color: clr(light, low-light);
    padding: $little-padding;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}