.btn {
    background: linear-gradient(clr(secondary), clr(primary));
    color: $light;
    font-weight: 500;
    border: none;
    border-radius: 2rem;
    max-width: 400px;
    padding: 1em;
    box-shadow: 3px 3px 10px lighten($dark, 50% );

    &:hover {
        cursor: pointer;
        background: linear-gradient(clr(secondary, light), clr(primary, light));
    }
}