.btn {
    background: linear-gradient(clr(secondary), clr(primary));
    color: clr(light);
    font-weight: 500;
    border: none;
    border-radius: 2rem;
    max-width: 400px;
    padding: 1em;
    @include box-shadow;

    &:hover {
        cursor: pointer;
        background: linear-gradient(clr(secondary, low-light), clr(primary, low-light));
    }
}