.like {
    font-size: 1.5em;
    position: relative;

    &--empty {
        opacity: 1;
    }

    &--full {
        color: $primary-color;
        position: absolute;
        z-index: 1;
        opacity: 0;
        animation: restaurant-like-out 0.2s both;
    }
}

.like-container {
    display: flex;

    &:hover {
        cursor: pointer;
        
        .like--empty {
            animation: restaurant-like-out 0.2s both;
        }
        .like--full {
            animation: restaurant-like-in 0.2s both;
        }
    }
}