.localization {
    width: 100%;
    background-color: lighten($dark, 70%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 3rem;
    gap: 1.2em;

        &__icon {
            margin-bottom: 0.25rem;
        }

        &__input {
            text-align: center;
            border: none;
            background-color: lighten($dark, 70%);
            font-weight: 500;
        }
}