.restaurant {
    &__card {
        background-color: $light;
        height: 250px;
        min-width: 250px;
        width: 100%;
        border-radius: 1em;        
        box-shadow: 3px 3px 10px lighten($dark, 64%);
    }

    &__link {
        color: $dark;
        text-decoration: none;
        display: flex;
        flex-direction: column;
    }

    &__header {
        margin: 0;
        height: 175px;
    }

    &__img {
        width: 100%;
        height: 175px;
        object-fit: cover;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }

    &__news {
        background-color: clr(tertiary);
        color: darken($tertiary-color, 40%);
        font-weight: 500;
        font-size: 0.9rem;
        display: inline;
        padding: 0.4rem;
        border-radius: 2px;
        position: relative;
        float: right;
        bottom: 90%;
        margin-right: 3%;
    }

    &__body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__name {
        margin: 0;
    }

    &__localization {
        margin: 0;
        font-weight: 300;
    }

    &__like {
        display: inline-block;
        font-size: 1.5em;
    }
}