.search-form {
    width: 100%;
    background-color: clr(light, dark);

    &__input {
    width: 100%;
    text-align: center;
    border: none;
    background-color: clr(light);
    padding: 1em 0;
    font-weight: 500;

        &::placeholder {
            opacity: 1;
            color: $dark;
        }
    }
}