.menu-section {
    padding: $little-padding;

    &__title {
        font-weight: 400;
        font-size: 1em;
        margin: 0;
    }

    &__line {
        background-color: $tertiary-color;
        height: 4px;
        border: none;
        width: 2.5rem;
        margin: 5px 0;
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.8em;
        margin: 1em auto;
        @include animation-delay-cascade;

        @include for-desktop {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 3rem;
        }
    }

    &__card {
        background-color: lighten($light, 20%);
        display: flex;
        flex-direction: row;
        border-radius: 1em;
        box-shadow: 3px 3px 10px lighten($dark, 64%);
        overflow: hidden;
        opacity: 0%;
        animation: menu-card-cascade 0.6s ease forwards;
        height: 80px;

        &:hover {
            cursor: pointer;
            .menu-section__animation {
                width: 25%;
                left: 0;
                transition: 0.5s;
            }

            .menu-section__icon {
                animation: menu-card-icon-in both 0.5s;
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        width: 100%;
        @include ellipsis;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin: 0;
        @include ellipsis;
    }

    &__name {
        margin: 0;
        @include ellipsis;
    }

    &__ingredient {
        margin: 0;
        font-weight: 300;
        @include ellipsis;
    }

    &__price {
        align-self: end;
        font-weight: 600;
    }

    &__animation {
        width: 0%;
        height: 100%;
        background-color: $tertiary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        position: relative;
        left: 5%;
    }

    &__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12px;
        height: 12px;
        padding: 12px;
        border-radius: 50%;
        background-color: lighten($light, 100%);
    }

    &__icon {
        color: $tertiary-color;
    }
}