.menu-section {
    padding: $little-padding;

    &__title {
        font-weight: 400;
        font-size: 1em;
        margin: 0;
    }

    &__line {
        background-color: $tertiary-color;
        height: 4px;
        border: none;
        width: 2.5rem;
        margin: 5px 0;
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.8em;
        margin: 1em auto;
        @include animation-delay-fade-in;

        @include for-desktop {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 3rem;
        }
    }

    &__card {
        background-color: lighten($light, 20%);
        padding: 1em;
        border-radius: 1em;
        display: flex;
        justify-content: space-between;
        box-shadow: 3px 3px 10px lighten($dark, 64%);
        opacity: 0%;
        animation: fade-in 1s ease forwards;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin: 0;
    }

    &__name {
        margin: 0;
    }

    &__ingredient {
        margin: 0;
        font-weight: 300;
    }

    &__price {
        align-self: end;
        font-weight: 600;
    }
}